.home {
  display: block;
  margin: 0 auto;
}

.home h1 {
  font-size: 75px;
  line-height: 83px;
  font-weight: 800;
  margin-top: 258px;
}

.home .title {
  color: var(--main-action-color);
}

.home p {
  font-weight: 500;
  width: 581px;
  height: 42px;
  font-size: 20px;
  line-height: 21px;
}

.home .ourTeam {
  width: 232px;
  height: 86px;
  border-radius: 10px;
  font-size: 40px;
  line-height: 43px;
  font-weight: 800;
  color: white;
  background-color: black;
}
