.home {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.home .col-2,
.col-1 {
  display: flex;
  flex-direction: column;
}

.home h1 {
  font-size: 8em;
  font-weight: 800;
  margin-top: 258px;
  margin-bottom: 0em;
}

.home .title {
  color: var(--main-action-color);
}

p.companyInfo {
  font-weight: 500;
  font-size: 2.1em;
  margin: 0 0;
}

.home .ourTeam {
  margin-top: 0.5em;
  border-radius: 10px;
  font-size: 3.9em;
  font-weight: 800;
  color: white;
  background-color: black;
  padding: 0.2em 0.5em;
  max-width: 6.5em;
}

.home .eclipse {
  display: flex;
  margin-left: 21em;
  margin-top: 13em;
  width: 56em;
}

.home .phone {
  display: flex;
  margin-left: 32.5em;
  margin-top: -62em;
  width: 33em;
}

p.makeYours {
  flex-direction: column;
  font-size: 4em;
  font-weight: 700;
  margin-top: -13em;
  margin-left: 8.8em;
}

.phoneText {
  flex-direction: row;
  color: var(--main-action-color);
}

@media (max-width: 1920px) {
  .home h1 {
    font-size: 6.5em;
  }

  .home .eclipse {
    margin-left: 21em;
    margin-top: 13em;
    width: 41em;
  }

  .home .ourTeam {
    font-size: 3.2em;
  }

  .home .phone {
    margin-left: 28.5em;
    margin-top: -48em;
    width: 26em;
  }

  p.companyInfo {
    font-size: 1.7em;
  }

  p.makeYours {
    font-size: 3em;
    margin-left: 10.3em;
    margin-top: -14em;
  }
}

@media (max-width: 1280px) {
  .home h1 {
    margin-top: 215px;
  }

  .home .eclipse {
    margin-left: 19.4em;
  }

  .home .phone {
    margin-left: 26.9em;
  }

  p.makeYours {
    margin-left: 9.8em;
  }
}

@media (max-width: 992px) {
  .home h1 {
    margin-top: 112px;
    font-size: 5em;
  }

  .home .eclipse {
    margin-top: 7em;
    margin-left: 6.4em;
    width: 27em;
  }

  .home .phone {
    margin-left: 11.5em;
    margin-top: -31em;
    width: 17em;
  }

  .home .ourTeam {
    font-size: 2.5em;
  }

  p.companyInfo {
    font-size: 1.4em;
  }

  p.makeYours {
    margin-left: 6.1em;
    font-size: 2.1em;
    margin-top: -13em;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}

@media (max-width: 0px) {
}
