div.navbar {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  margin-right: -2em;
}

li,
a {
  text-decoration: none;
  list-style: none;
  color: var(--main-text-color);
  display: flex;
  margin: 0 auto;
  margin-left: 0px;
}

ul {
  padding-left: 0px;
  list-style-type: disc;
  margin-block-start: 0px;
  margin-block-end: 0px;
  padding-inline-start: 0px;
  display: flex;
}

.navList > li {
  justify-content: center;
  align-items: center;
}

.navList {
  flex-direction: row;
  font-size: 2.1em;
}

nav {
  width: 100%;
}

.navBrand {
  display: flex;
  flex-direction: row;
}

.navLogo {
  max-width: 5em;
}

li.logoName {
  font-size: 1.3em;
  color: #232a34;
  font-weight: 700;
  margin-top: 1.4em;
  margin-left: -0.3em;
}

.navContact {
  border-radius: 14px;
  font-size: 1.7em;
  font-weight: 700;
  color: #ffffff;
  background-color: var(--main-action-color);
  border: none;
  padding: 5px 18px;
}
