:root {
  --main-background-color: #242831;
  --main-text-color: #fdfdfd;
  --main-action-color: #ea4e40;
}

.app {
  background-color: var(--main-background-color);
  padding-top: 35px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}
